html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
  font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html {
    overflow-y: scroll; 
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; 
}
small {
  font-size: 80%;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,img { 
    display:block;  
}  

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

blockquote, q {
    quotes: none;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
    color: inherit;
}
:focus {
    outline:none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul, ol {
  margin-left: 0;
}
ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}
button,input[type=button],input[type=reset],input[type=submit] { 
    cursor:pointer; 
    -webkit-appearance:button; 
    overflow:visible;  
}  
input[type=checkbox],input[type=radio] { 
    box-sizing:border-box;
    padding:0;  
}  
input[type=search] { 
    -webkit-appearance:textfield; 
    -moz-box-sizing:content-box; 
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;  
}  
input[type=search]::-webkit-search-decoration { 
    -webkit-appearance:none;  
}  
button::-moz-focus-inner,input::-moz-focus-inner { 
    border:0; 
    padding:0;  
}  
textarea { 
    overflow:auto; 
    vertical-align:top;  
} 
input,
button,
textarea,
select {
  font: inherit;
}
embed,
iframe,
object {
    max-width:100%;
}

strong {
    font-weight:bold;
}
img {
  max-width: 100%;
  display: block;
}